<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://qa-hydroserver.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>qa-hydroserver.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>QA-HydroServer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$QA-HydroServer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bhi5g2ajst.database.windows.net,1433;Initial Catalog=dev-HydroServertoolsUserDB_1_1_3;Persist Security Info=True;User ID=HisCentralAdmin@bhi5g2ajst;Password=F@deratedResearch" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HydroServerTools.Models.ApplicationDbContext, HydroServerTools" MigrationConfiguration="HydroServerTools.Migrations.Configuration, HydroServerTools" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ODM_1_1_1EFModel.ODM_1_1_1Entities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ODM_1_1_1EFModel.ODM_1_1_1Entities, ODM_1_1_1EFModel" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MasterConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:bhi5g2ajst.database.windows.net,1433;Initial Catalog=master;Persist Security Info=True;User ID=HisCentralAdmin@bhi5g2ajst;Password=F@deratedResearch" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MasterConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:bhi5g2ajst.database.windows.net,1433;Initial Catalog=master;User ID=HisCentralAdmin@bhi5g2ajst; Password=F@deratedResearch;Persist Security Info=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PublishProvider>AzureWebSite</PublishProvider>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MasterConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ODM_1_1_1EFModel.ODM_1_1_1Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=bhi5g2ajst.database.windows.net,1433;Initial Catalog=HydroServertoolsUserDB_1_1_3;Integrated Security=False;Persist Security Info=True;User ID=hiscentraladmin;Password=F@deratedResearch</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ODM_1_1_1EFModel.ODM_1_1_1Entities" />
  </ItemGroup>
</Project>