@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    Founded in 2001, the Consortium of Universities for the Advancement of Hydrologic Science, Inc. (CUAHSI) is a 501(c)3 research organization representing more than 130 U.S.
    universities and international water science-related organizations.
    CUAHSI receives support from the National Science Foundation (NSF) to develop infrastructure and services for the advancement of water science in the United States.
</div>