
@{
    ViewBag.Title = "ChangeHistory";
}

<h2>Change History</h2>

Version 0.2 
<ul>
    <li>Added Commit button to "New" and "Updated" tab so to split the upload into 2 steps</li>
    <li>Added template page instead of menu items</li>
    <li>Changed data commit: new data is added in bulk if one records fails to be inserted all records will be rejected. Validation in first step should identify all problems.</li>
    <li>Added detailed error reporting for each record for new and updated records.
</li>   
</ul>

 Version 0.3
<ul>
    <li>Various bugfixes</li>
    <li>Changed Seriescatalog update</li>
    <li>Added controlled vocabularies page</li>
</ul>

