@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Consortium of Universities for the Advancement of Hydrologic Science, Inc. (CUAHSI)<br />
    Boston Office<br />
    196 Boston Ave, Suite 3000<br />
    Medford, MA 02155<br />
    Phone: (339) 221-5400<br />
    Fax: (781) 219-4029<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jpollak@cuahsi.org">jpollak@cuahsi.org</a><br />
  
</address>