
@{
    ViewBag.Title = "View ControlledVocabularies";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Controlled Vocabularies</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=CensorCodeCV&id=501576825" target="_blank">CensorCodeCV</a> Used to populate the CensorCode field of the DataValues table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=CensorCodeCV&id=501576825" target="_blank">CensorCodeCV</a>:Used to populate the CensorCode field of the DataValues table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=DataTypeCV&id=485576768" target="_blank">DataTypeCV:</a>Used to populate the DataType field of the Variables table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=GeneralCategoryCV&id=517576882" target="_blank">GeneralCategoryCV:</a>Used to populate the GeneralCategory field in the Variables table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=SampleMediumCV&id=533576939" target="_blank">SampleMediumCV:</a>Used to populate the SampleMedium field in the Variables table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=SampleTypeCV&id=549576996" target="_blank">SampleTypeCV:</a>Used to populate the SampleType field in the Samples table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=SiteTypeCV&id=901578250" target="_blank">SiteTypeCV:</a>Used to populate the SiteType field in the Sites table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=SpatialReferences&id=565577053" target="_blank">SpatialReferences:</a>Defines the coordinate systems used in the Sites table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=SpeciationCV&id=581577110" target="_blank">SpeciationCV:</a>Used to poputate the Speciation field in the Variables table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=TopicCategoryCV&id=773577794" target="_blank">TopicCategoryCV:</a>Used to populate the TopicCategory field in the ISOMetadata table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=Units&id=789577851" target="_blank">Units:</a>Defines the units used in the Variables and Offset types tables</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=ValueTypeCV&id=805577908" target="_blank">ValueTypeCV:</a>Used to populate the ValueType field in the Variables table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=VariableNameCV&id=821577965" target="_blank">VariableNameCV:</a>Used to populate the VariableName field in the Variables table</li>
            <li><a href="http://his.cuahsi.org/mastercvreg/edit_cv11.aspx?tbl=VerticalDatumCV&id=837578022" target="_blank">VerticalDatumCV:</a>Used to populate the VerticalDatum field im the Sites table</li>
        </ul>
    </div>
</div>


