@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Link to Feedback Form:</h4>
<p>
    <a target="_blank" href="https://docs.google.com/forms/d/1OahybOqAXAdNsABPVgPrFSQZdYwtjyzKyZbkuCKOwA0/viewform"> Open Form</a> </br>
</p>
</br>
<h4>Link to User Feedback spreadsheet: </h4>

<p>
    <a target="_blank" href="https://docs.google.com/spreadsheet/ccc?key=0Ar7fsM4MmyUcdHZfU1NqR19ZaVZvZmFaV3hQdXNCQnc&usp=sharing"> Open Feedback Spreadsheet </a> </br>
</p>
</br>
<address>
    Consortium of Universities for the Advancement of Hydrologic Science, Inc. (CUAHSI)<br />
    Boston Office<br />
    196 Boston Ave, Suite 3000<br />
    Medford, MA 02155<br />
    Phone: (339) 221-5400<br />
    Fax: (781) 219-4029<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:help@cuahsi.org">help@cuahsi.org</a><br />

</address>
