@model HydroserverToolsBusinessObjects.Models.SiteModel

    @{
        ViewBag.Title = "View Sites";
    }
 
    <html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        @{
       //Layout = null;
        }

        <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico" />

        <title>DataTables example</title>
        @*<style type="text/css" title="currentStyle">
                    @import "../../media/css/demo_page.css";

                    @import "../../media/css/demo_table.css";
            </style>*@
        <link href="~/Content/DataTables-1.9.4/media/css/demo_page.css" rel="stylesheet" />
        <link href="~/Content/DataTables-1.9.4/media/css/demo_table.css" rel="stylesheet" />
        @*  <script type="text/javascript" language="javascript" src="../../media/js/jquery.dataTables.js"></script>*@


    </head>
    <body id="dt_example">
        <div id="container">
            <h1>Live example</h1>
            <div id="demo">
                <table id="myDataTable" class="display">
                    <thead>
                        <tr>

                            @*@{var props = Model.GetType().GetProperties();
                            foreach (var prop in props)
                            {
                                <th>@prop.Name</th>
                            }
                            }*@        
                            
                            <th>SiteCode</th>
                            <th>SiteName</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>LatLongDatumSRSName</th>
                            <th>Elevation_m</th>
                            <th>VerticalDatum</th>
                            <th>LocalX</th>
                            <th>LocalY</th>
                            <th>LocalProjectionID</th>
                            <th>PosAccuracy_m</th>
                            <th>State</th>
                            <th>County</th>
                            <th>Comments</th>
                            <th>SiteType</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="spacer"></div>



            @*<style type="text/css">
                        @import "../examples_support/syntax/css/shCore.css";

                </style>*@

        </div>
    </body>
</html>
@section scripts
{
    
    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type='text/javascript' src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>

    <script src="~/Scripts/DataTables-1.9.4/extras/TableTools/media/js/TableTools.js"></script>
    <script src="~/Scripts/DataTables-1.9.4/extras/TableTools/media/js/ZeroClipboard.js"></script>


    <script>
        $(document).ready(function () {
            $('#myDataTable').dataTable({
                "bServerSide": true,
                "sAjaxSource": "AjaxHandler",
                "bProcessing": true,
                "sDefaultContent": "d",
                "aoColumns":
                 [
                    { " mData": "SiteCode" },
                    { " mData": "SiteName" },
                    { " mData": "Latitude" },
                    { " mData": "Longitude" },
                    { " mData": "LatLongDatumSRSName" },
                    { " mData": "Elevation_m" },
                    { " mData": "VerticalDatum" },
                    { " mData": "LocalX" },
                    { " mData": "LocalY" },
                    { " mData": "LocalProjectionID" },
                    { " mData": "PosAccuracy_m" },
                    { " mData": "State" },
                    { " mData": "County" },
                    { " mData": "Comments" },
                    { " mData": "SiteType" }
                ]

            });
        });
    </script>
  
}

