@model HydroServerTools.Models.ConnectionModel
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
   
    <div class="jumbotron">
            <h2>Please select option:</h2> <br />
   
    @*<button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#setConnection">Set Database Connection</button>*@
    <p><a href="/CSVUpload/Sites" class="btn btn-primary btn-lg active" role="button">Import Data into Hydroserver</a></p>
      
    </div>
</div>
   