
@{
    ViewBag.Title = "JQueryApI";
    //Layout = null;
}

<h2>JQueryApI</h2>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<link href="~/Content/mvcfileupload/blueimp/jquery.fileupload.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.js"></script>*@
<script src="~/Scripts/mvcfileupload/vendor/jquery.ui.widget.js"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="~/Scripts/JQueryUpload/bootstrap.file-input.js"></script>
<form action="/api/upload" enctype="multipart/form-data">
    <div class="row fileupload-buttonbar">
        <div class="span7">
            <div class="well">
                <i class="icon-plus"></i><span>&nbsp;&nbsp;Add files...</span>
                <input type="file" id="fileupload" name="fileupload" accept="text/*" @* multiple="multiple"*@>
                
                <button id="btnUploadAll" class="btn btn-success pull-right" type="button">
                    Upload All
                </button>
                <div class="clearfix">
                </div>
                <div class="progress">
                    <div class="bar" id="overallbar" style="width: 0%">
                    </div>
                </div>
            </div>
        </div>
        <div class="span7">
            <div class="well hide" id="filelistholder">
                <div id="progressbar"></div>
            </div>
        </div>
        <div class="span7">
        </div>
    </div>
</form>

<script src="~/Scripts/JQueryUpload/jquery.fileupload.js"></script>
<script src="~/Scripts/JQueryUpload/jquery.iframe-transport.js"></script>
<script src="~/Scripts/custom/UploadHelper.js"></script>
