
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>
<div class="container">
    <div>
        <p class="pull-left">Please select table(s) to clear:</p><br />
    </div>
    <form id="clearTables" class="form-horizontal" role="form">
        <div class="col-md-4-offset-2 col-sm-10">
            <div class="form-group">
                <label class="checkbox">
                    <input type="checkbox" value="Sites" name="sites" id="chkSites">Sites
                </label>
                <label class="checkbox">
                 <input type="checkbox" value="Variables" name="variables" id="chkVariables">Variables
                </label>
                <label class="checkbox">
                 <input type="checkbox" value="OffsetTypes" name="offsettypes" id="chkOffsetTypes">Offset Types
                </label>                        
                <label class="checkbox">
                    <input type="checkbox" value="Sources" name="sources" id="chkSources">Sources
                </label>          
                <label class="checkbox">
                    <input type="checkbox" value="Methods" name="methods" id="chkMethods">Methods
                </label>           
                <label class="checkbox">
                    <input type="checkbox" value="LabMethods" name="labmethods" id="chkLabMethods">Lab Methods
                </label>           
                <label class="checkbox">
                    <input type="checkbox" value="Samples" name="samples" id="chkSamples">Samples
                </label>       
           
                <label class="checkbox">
                    <input type="checkbox" value="Qualifiers" name="qualifiers" id="chkQualifiers">Qualifiers
                </label>
            
                <label class="checkbox">
                    <input type="checkbox" value="QualityControlLevels" name="qualitycontrollevels" id="chkQualityControlLevels">Quality Control Levels
                </label>
           
                <label class="checkbox">
                    <input type="checkbox" value="DataValues" name="datavalues" id="chkDataValues">Data Values
                </label>
           
                <label class="checkbox">
                    <input type="checkbox" value="GroupDescriptions" name="groupdescriptions" id="chkGroupDescriptions">Group Descriptions
                </label>
            
                <label class="checkbox">
                    <input type="checkbox" value="Groups" name="groups" id="chkGroups">Groups
                </label>
            
                <label class="checkbox">
                    <input type="checkbox" value="DerivedFrom" name="derivedfrom" id="chkDerivedFrom">Derived From
                </label>
            
                <label class="checkbox">
                    <input type="checkbox" value="Categories" name="categories" id="Categories">Categories
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Clear selected tables</button>
            </div>
        </div>
    </form>
</div>
@section scripts
{  
    <script src="~/Scripts/custom/Manage.js"></script>
}
