


<table id="myDataTable" cellpadding="2" cellspacing="0" border="1" class="display">
    <thead>
        <tr>
            @{var props = Model.GetType().GetProperties();
            foreach (var prop in props)
                {
                     if (!Attribute.IsDefined(prop, typeof(System.ComponentModel.DataAnnotations.DisplayAttribute))) 
                     {   
                            if (@prop.Name != "Errors"){ <th>@prop.Name</th>}
                     }            
                }
            }

        </tr>
    </thead>
    <tbody>
        @*@if (Model != null)
            {
                foreach (var item in Model)
                {
                     <tr>
                        @{var itemProps = item.GetType().GetProperties();
                            foreach (var itemProp in itemProps)
                            {
                                <th>@itemProp.GetValue(item, null) </th>
                            }
                        }
                    </tr>
                }
            }*@
    </tbody>
</table>

