@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request. Please try to refresh the page or log out and back in. If the problem persists please each out to <a href="mailto:help@cuahsi.org?subject=Hydroserver Login Error">help@cuahsi.org</a>. Thank you</h2>

    <p>

    @if (@ViewBag.Message != null)
    {
        @ViewBag.Message

        <h2>
            Please contact <a href="mailto:help@cuahsi.org?Subject=Uploding_Error" target="_top"> Support </a>
        </h2>
    }

    </p>
