@{
//Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 ">

            <div class="well">
                <h3> @ViewBag.Message;</h3>

                <h4><a href="mailto:help@cuahsi.org">help@cuahsi.org</a></h4>
            </div>
        </div>
    </div>
</div>




