body {
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



.ui-tabs.ui-tabs-vertical {
padding: 0;
width: 100%;
height:100%;
background: lightgray;
}

.ui-tabs.ui-tabs-vertical .ui-widget-header {
border: none;
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
float: left;
width: 10em;
background: #CCC;
border-radius: 4px 0 0 4px;
border-right: 1px solid gray;
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
clear: left;
width: 100%;
margin: 0.2em 0;
border: 1px solid gray;
border-width: 1px 0 1px 1px;
border-radius: 4px 0 0 4px;
overflow: hidden;
position: relative;
right: -2px;
z-index: 2;
    }

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 1em;
                        
}

    .ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
        cursor: pointer;
    }

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
                        
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    width: 20em;
}

    .ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
        margin-bottom: 10px;
    }

.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px solid gray;
    border-radius: 0;
    position: relative;
    left: -1px;
}
  
.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 999px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}


.innerDetails
{
     background-color:lightgray !important;
     border-color:darkgrey;
     border-width: 1px;
     width:100%;
}
.innerDetails table
{
    padding:0;
    border:0;
    padding-left:50px;
    text-align:left;
   
}
.alert-message {
  color: black;
  background-color: black;
  border-color: black;
}

.alert-message hr {
  border-top-color: black;
}

.alert-message .alert-link {
  color: black;
}
/*.btn-success:hover {
   border-color:black;
   border-width:medium;
}*/
table
{
    border-width:thin;
}
.big-button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px 20px;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b3b3b3));
    background: -moz-linear-gradient(top, #ffffff, #b3b3b3);
    background: linear-gradient(to bottom, #ffffff, #b3b3b3);
    font: normal normal bold 20px arial;
    color: #111111;
    text-decoration: none;
}
.big-button:hover,
.big-button:focus {
    border: 1px solid #ffffff;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));
    background: -moz-linear-gradient(top, #ffffff, #d7d7d7);
    background: linear-gradient(to bottom, #ffffff, #d7d7d7);
    color: #111111;
    text-decoration: none;
}
.big-button:active {
    background: #b3b3b3;
    background: -webkit-gradient(linear, left top, left bottom, from(#b3b3b3), to(#b3b3b3));
    background: -moz-linear-gradient(top, #b3b3b3, #b3b3b3);
    background: linear-gradient(to bottom, #b3b3b3, #b3b3b3);
    
}
.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    border-radius:5px;
    margin-top:10px
}
.container.drop-shadow {
    padding-left:0;
    padding-right:0;
}
.selectbox
{
    height:225px
}
.buttonBottom {
    position: absolute;
    bottom:0;
    right:0;
}
/* Source: Daniel Uy - jQuery Drag and Drop Files -  http://danielm.herokuapp.com/demos/dnd/ */
.uploader {
    border: 2px dotted #A5A5C7;
    width: 100%;
    color: #92AAB0;
    text-align: center;
    vertical-align: middle;
    padding: 30px 0px;
    margin-bottom: 10px;
    font-size: 200%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* CSS for rotating glyphicons...
	Source: http://stackoverflow.com/questions/19364726/issue-making-bootstrap3-icon-spin - answer 28
*/

.spin {
    -webkit-animation: spin 1.5s infinite linear;
    -moz-animation: spin 1.5s infinite linear;
    -o-animation: spin 1.5s infinite linear;
    animation: spin 1.5s infinite linear;
    -webkit-transform-origin: 50% 58%;
    transform-origin: 50% 58%;
    -ms-transform-origin: 50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
