table {
            max-width: none;
            text-align:center; 
}

table.display {
    /*margin: 0 auto;*/
    /*width: 100%;*/
    /*clear: both;*/
    border-collapse:collapse;
    table-layout:fixed;
    word-wrap:break-word;
    overflow-wrap:break-word;
    padding-bottom:10px;   
}

table th, td
{
    border-color: gray;
    border-style:solid;
    border-width:1px;

}

td
{
     padding:0px
}

#tabs {
        padding-bottom:1em;
}
