@model HydroServerTools.Models.ServiceRegistration

@{
    ViewBag.Title = "Account is Registered";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="well">
    <h3>Account Registration</h3>

    <h4>This Google email is already associated with an account. Please use a different email if you need to request additional hosting.</h4>
    
       @* <div class="col-md-offset-2 col-md-10">*@
            <input type="button" class="btn btn-success"  value="Continue " onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" />
      @*   </div>*@
    
   </div>

