@model HydroServerTools.Models.ServiceRegistration

@{
    ViewBag.Title = "Activation In Process";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="well">
    <h3>Activation</h3>

    <h4>Your request has been submitted successfully. </h4>
<<<<<<< refs/remotes/origin/QA
    <h4>A confirmation email has been send to @User.Identity.Name.</h4>
=======
    <h4>A confirmation email has been send to <a href="mailto:"@User.Identity.Name" target="_top">@User.Identity.Name</a></h4>
>>>>>>> Release version 2.0
    <h4>Please click the activation link in your email to complete. </h4>
    <h4>Please contact <a href="mailto:Help@cuahsi.org?Subject=Service%20activation" target="_top">help@cuahsi.org</a> if you encounter any problems.</h4>

</div>

