@model HydroServerTools.Models.ServiceRegistration

@{
    ViewBag.Title = "Activation In Process";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="well">
    <h2>Activation</h2>

    <h3>Your Activation was requested by a different user then the current user. </h3>
    <h3>Please log in using the account you used while requesting. Please check you confirmation email.</h3>
    <h3>Please contact <a href="mailto:Help@cuahsi.org?Subject=Service%20activation" target="_top">help@cuahsi.org</a> for support</h3>

</div>

