@model HydroServerTools.Models.ServiceRegistration

@{
    ViewBag.Title = "Activation In Process";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="well">
    <h2>Activation</h2>

    <h3>Your request for hosting has been submmitted. Please check your email for @User.Identity.Name for an activation email.</h3>
    <h3>Please contact <a href="mailto:Help@cuahsi.org?Subject=Service%20activation" target="_top">help@cuahsi.org</a> for support</h3>

</div>

