@model HydroServerTools.Models.ServiceRegistration

@{
    ViewBag.Title = "Activation In Process";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="well">
    <h2>Activation</h2>

    <h3>Your request has been submitted successfully. </h3>
    <h3>A confirmation email has been send to @User.Identity.Name.</h3>
    <h3>Please click the activation link in your email to complete. </h3>
    <h3>Please contact <a href="mailto:Help@cuahsi.org?Subject=Service%20activation" target="_top">help@cuahsi.org</a> if you encounter any problems.</h3>

</div>

