<ul>
    <li><a href="#tabs-0">New</a><span id="NewBadge" class="badge"></span></li>
    <li><a href="#tabs-1">Rejected</a><span id="RejectedBadge" class="badge"></span></li>
    <li><a href="#tabs-2">Updated</a><span id="UpdatedBadge" class="badge"></span></li>
    <li><a href="#tabs-3">Duplicate</a><span id="DuplicateBadge" class="badge"></span></li>
</ul>
