
@{
    ViewBag.Title = "DbSummaryReport";
    ViewBag.Name = "dbSummaryReport";
}

<h2>Summary Report</h2>


<div class="container">

    <!-- Table of Db Load Results -->
    <div class="row">
        <div class="col-md-12">
            <div id="divDbLoadResults" style="padding-left: 1.0em; padding-right: 1.0em;" class="uploader-border">
                <h4>Data upload summary for your HydroServer (grouped by ODM table name)</h4>
                <table style="margin-top: 1.5em;" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-6 text-center">Table Name</th>
                            <th class="col-md-2 text-center">Inserted</th>
                            <th class="col-md-2 text-center">Updated</th>
                            <th class="col-md-2 text-center">Rejected</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dynamic table row template -->
                        <tr class="templateTableRow hidden">
                            <td class="col-md-6 text-center"><span style="font-size: 1.5em; font-weight: bold;" class="spanTableName">Test Table Name</span></td>

                            <!-- If Inserted === 0 show span else show button -->
                            <td class="col-md-2 text-center"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanInserted">0</span></td>
                            <td class="col-md-2 text-center hidden"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-success buttonInserted">100</button></td>

                            <!-- If Updated === 0 show span else show button -->
                            <td class="col-md-2 text-center"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanUpdated">0</span></td>
                            <td class="col-md-2 text-center hidden"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-primary buttonUpdated">50</button></td>

                            <!-- If Rejected === 0 show span else show button -->
                            <td class="col-md-2 text-center"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanRejected">0</span></td>
                            <td class="col-md-2 text-center hidden"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-danger buttonRejected">25</button></td>
                        </tr>

                        <!-- DB Load Results go here... -->

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="btn-group col-md-12" style="position: relative;">
            <div class="pull-right">
                <button type="button" id="btnRevisedUploadFinish" class="btn btn-success" >Finish</button>
            </div>
        </div>
    </div>

    <!-- Test rows - hidden -->
    <!-- TEST row... -->
    @*<table class="hidden">
        <!-- TEST row... -->
        <tbody>
            <tr class="templateTableRow">
                <td class="col-md-6 text-center"><span style="font-size: 1.5em; font-weight: bold;" class="spanTableName">Test Table Name</span></td>

                <!-- If Inserted === 0 show span else show button -->
                <td class="col-md-2 text-center"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanInserted">0</span></td>
                <td class="col-md-2 text-center hidden"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-success buttonInserted">100</button></td>

                <!-- If Updated === 0 show span else show button -->
                <td class="col-md-2 text-center"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanUpdated">0</span></td>
                <td class="col-md-2 text-center hidden"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-primary buttonUpdated">50</button></td>

                <!-- If Rejected === 0 show span else show button -->
                <td class="col-md-2 text-center"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanRejected">0</span></td>
                <td class="col-md-2 text-center hidden"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-danger buttonRejected">25</button></td>
            </tr>
            <tr class="templateTableRow">
                <td class="col-md-6 text-center"><span style="font-size: 1.5em; font-weight: bold;" class="spanTableName">Test Table Name</span></td>

                <!-- If Inserted === 0 show span else show button -->
                <td class="col-md-2 text-center hidden"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanInserted">0</span></td>
                <td class="col-md-2 text-center"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-success buttonInserted">100</button></td>

                <!-- If Updated === 0 show span else show button -->
                <td class="col-md-2 text-center hidden"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanUpdated">0</span></td>
                <td class="col-md-2 text-center"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-primary buttonUpdated">50</button></td>

                <!-- If Rejected === 0 show span else show button -->
                <td class="col-md-2 text-center hidden"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanRejected">0</span></td>
                <td class="col-md-2 text-center"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-danger buttonRejected">25</button></td>
            </tr>

            <!-- TEST row... -->
            <tr class="templateTableRow">
                <td class="col-md-6 text-center"><span style="font-size: 1.5em; font-weight: bold;" class="spanTableName">Test Table Name</span></td>

                <!-- If Inserted === 0 show span else show button -->
                <td class="col-md-2 text-center hidden"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanInserted">0</span></td>
                <td class="col-md-2 text-center"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-success buttonInserted">100</button></td>

                <!-- If Updated === 0 show span else show button -->
                <td class="col-md-2 text-center"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanUpdated">0</span></td>
                <td class="col-md-2 text-center hidden"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-primary buttonUpdated">50</button></td>

                <!-- If Rejected === 0 show span else show button -->
                <td class="col-md-2 text-center hidden"><span style="font-size: 1.5em; color: black; background-color: lightgray; vertical-align: -webkit-baseline-middle;" class="badge spanRejected">0</span></td>
                <td class="col-md-2 text-center"><button style="padding: 3px 7px; font-weight: bold;" class="btn btn-danger buttonRejected">25</button></td>
            </tr>
        </tbody>
    </table>*@

<script type="text/javascript">

    //Add table rows for db load results...
    function buildSummaryReportMarkup(tableDivId, dbLoadResults) {
        //Validate/initialize input parameters...
        if (('undefined' !== typeof tableDivId && null != tableDivId) &&
            ('undefined' !== typeof dbLoadResults && null != dbLoadResults)) {

            //Input parameters valid - select table and clear contents, if any...
            var jqSumRptTable = $('div#' + tableDivId + ' table tbody');
            var jsSumRptRowTemplate = $('.templateTableRow'); 

            jqSumRptTable.empty();

            //For each db load result...
            var length = dbLoadResults.length;
            for (var i = 0; i < length; ++i) {
                var dbLoadResult = dbLoadResults[i];

                //Clone table row template...
                var newTableRow = jsSumRptRowTemplate.clone();
                newTableRow.removeClass('hidden');
                //Set table name column
                newTableRow.find('.spanTableName').text(dbLoadResult.TableName);

                //Set remaining columns...
                var columns = ['Inserted', 'Updated', 'Rejected'];
                var columnsLength = columns.length;

                //For each remaining column...
                for (var cI = 0; cI < columnsLength; ++cI) {
                    var column = columns[cI];
                    var tempSpan = newTableRow.find('.span' + column);
                    var tempButton = newTableRow.find('.button' + column);

                    //Hide each parent 'td'
                    tempSpan.parent().addClass('hidden');
                    tempButton.parent().addClass('hidden');

                    //Set/show column per associated db load count value...
                    var loadCount = dbLoadResult.LoadCounts[column];
                    if (0 < loadCount) {
                        //Positive count - set and show the button
                        tempButton.text(loadCount);
                        tempButton.parent().removeClass('hidden');
                    }
                    else {
                        //Zero count - set and show the span
                        tempSpan.text(loadCount);
                        tempSpan.parent().removeClass('hidden');
                    }
                }

                //Append row to table...
                jqSumRptTable.append(newTableRow);
            }
        }
    }

    //Retrieve DB Load Results Report values for the input uploadId...
    function getDbLoadResults(currentUploadId) {
        //Validate/initialize input parameters...
        if ('undefined' !== typeof currentUploadId && null !== currentUploadId) {
            //Input parameters valid - set url...
            var url = '/api/revisedupload/get/dbloadresults/' + currentUploadId + '/';

            $.ajax({
                "url": url,
                "type": "GET",
                "async": true,
                "dataType": "json",
                "cache": false, //So IE does not cache when calling the same URL - source: http://stackoverflow.com/questions/7846707/ie9-jquery-ajax-call-first-time-doing-well-second-time-not
                "success": function (data, textStatus, jqXHR) {
                    console.log('RevisedUpload GET/dbloadresults success!!');
                    var dbLoadResults = data;
                    var length = dbLoadResults.length;
                    console.log('getDbLoadResults(...) dbLoadResults.length = ' + length);
                    for (var i = 0; i < length; ++i) {
                        console.log("Load results for: " + dbLoadResults[i].TableName);
                    }

                    //Display db load results...
                    buildSummaryReportMarkup('divDbLoadResults', dbLoadResults);
                },
                "error": function (xmlhttprequest, textStatus, message) {
                    //Failure - Log messsage received from server...
                    console.log('RevisedUpload GET/dbloadresults reports error: ' + xmlhttprequest.status + ' (' + message + ')');
                }
            });
        }
    }

    $(document).ready(function () {
        console.log('DB Summary Report - document ready called!!');

        //Retrieve current upload Id...
        var currentUploadId = sessionStorage.currentUploadId;
        console.log('DB Summary Report retrieves upload Id: ' + currentUploadId);

        //Queue retrieval of db load results...
        setTimeout(function () {
            getDbLoadResults(currentUploadId);
        }, 100);

    });

</script>


</div>