
@{
    ViewBag.Title = "DragAndDropFiles";
    ViewBag.Name = "dragAndDropFiles";

    string qualifier = TempData["qualifier"] as string;
}
<link rel="stylesheet" href="~/Content/mvcfileupload/blueimp/jquery.fileupload.css" />

@if ("meta_data" == qualifier)
{
    <h2>Select Meta-data Files for Upload</h2>
}
else
{
    <h2>Select Data Values Files for Upload</h2>
}

<div class="container">

    <!-- List of 'to-be-uploaded' file references -->
    <div class="row">
        <div class="col-md-12">
            <div id="divFilesForUpload" class="uploader">
                <div><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Drag &amp Drop Template Files Here</div>
                <ul id="lstFilesForUpload" class="list-group" style="">
                    <!--NOTE: The list items added here should look like...
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                    -->
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="btn-group col-md-12" style="position: relative;">
            <div class="fileinput-button pull-left">
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Files</button>
                <input id="inpFilesForUpload" type="file" multiple="multiple" class="required" name="fileupload" accept=".csv,.zip" />
            </div>
            <div id="alertFileUpload" class="alert alert-info fade in hidden col-md-5 col-md-offset-3" role="alert">
                <span class="glyphicon glyphicon-refresh spin"></span>
                <span>File upload in progress.  Please do not close the current page!!</span>
            </div>
            <div class="pull-right">
                <a href="/home/index" class="btn btn-warning cancel">Cancel</a>
                <!-- Need a button here - not a link - to keep the current page in place so to ensure all file 'chunks' make it to the server... -->
                <button type="button" id="btnFilesForUploadContinue" class="btn btn-success" style="margin-left: 0.5em;">Upload Files</button>
                <a id="btnValidationSummary" class="btn btn-primary hidden" href="/CSVUpload/RevisedUploadData/ValidateFiles" style="margin-left: 0.5em;">Continue</a>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload.js"></script>
<script src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload-ui.js"></script>
<script src="~/Scripts/mvcfileupload/blueimp/jquery.iframe-transport.js"></script>
<script src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload-process.js"></script>
<script src="~/Scripts/custom/RandomId.js"></script>

<style type="text/css">
    .bar {
        background-color: #4298c8;
    }

</style>

<script type="text/javascript">
    var fileObjectsForUpload = [];
    var currentUploadId = null;
    var randomId = null;

    //Click handler for list item Delete button...
    function deleteListItem(event) {
        //Retrieve file name attribute - remove list element
        var fileName = $(this).attr('data-file-name');
        $(this).parent().remove();

        //Remove/update associated sessionStorage items, if applicable..
        if ('undefined' !== typeof sessionStorage.uploadedFileNames && null !== sessionStorage.uploadedFileNames) {
            //Uploaded file names...
            var uploadedFileNames = (sessionStorage.uploadedFileNames).split(',');

            var index = uploadedFileNames.indexOf(fileName); 
            if (-1 !== index) {
                uploadedFileNames.splice(index, 1);
                if (0 < uploadedFileNames.length) {
                    //File names NOT empty - retain in session storage...
                    sessionStorage.uploadedFileNames = uploadedFileNames.toString();
                }
                else {
                    //File names empty - remove from session storage
                    sessionStorage.removeItem('uploadedFileNames');
                }

                if ('undefined' !== typeof sessionStorage.fileUploadCount && null !== sessionStorage.fileUploadCount) {
                    //File upload count
                    var fileUploadCount = parseInt(sessionStorage.fileUploadCount);
                    sessionStorage.fileUploadCount = (--fileUploadCount).toString();
                }
            }
        }

        //Remove the associated file object, if applicable...
        var foLength = fileObjectsForUpload.length;
        for (var foI = 0; foI < foLength; ++foI) {
            var fo = fileObjectsForUpload[foI];
            if (fileName === fo.name) {
                fileObjectsForUpload.splice(foI, 1);
                break;
            }
        }

        //Forward delete request to server...
        var url = '/api/revisedupload/delete/file/' + currentUploadId + '/' + fileName + '/';
        $.ajax({
            "url": url,
            "type": "DELETE",
            "async": true,
            "dataType": "json",
            "cache": false, //So IE does not cache when calling the same URL - source: http://stackoverflow.com/questions/7846707/ie9-jquery-ajax-call-first-time-doing-well-second-time-not
            "success": function (data, textStatus, jqXHR) {
                console.log('RevisedUpload Delete/File success: "' + textStatus + '" (' + jqXHR.status.toString() + ')');
                //if (200 === jqXHR.status || 206 === jqXHR.status) {
                //    //Controller file processing complete - show Validation Summary button...
                //    $('#' + 'alertFileUpload').fadeOut({
                //        "duration": 1500,
                //        "complete": function () {
                //            $('#' + 'btnValidationSummary').removeClass('hidden');
                //            ////BC - TEST - Click button as soon as shown to test possible timing issue...
                //            //$('#' + 'btnValidationSummary')[0].click();
                //        }
                //    });
                //    clearInterval(interval);
                //}
            },
            "error": function (xmlhttprequest, textStatus, message) {
                //Failure - Log messsage received from server...
                console.log('RevisedUpload Delete/File reports error: ' + xmlhttprequest.status + ' (' + message + ')');
                //clearInterval(interval);
            }
        });
    }

    //Add unique input candidate file objects to the input collection and (name) to markup list...
    function addFileObjects( candidateFileObjs, collectionFileObjs, lstMarkup) {
        if ('undefined' !== typeof candidateFileObjs && null !== candidateFileObjs &&
            'undefined' !== typeof collectionFileObjs && null !== collectionFileObjs &&
            'undefined' !== typeof lstMarkup && null !== lstMarkup) {

            //For each input candidate...
            $.each(candidateFileObjs, function (index, file) {
                //Check for presence in collection...
                var bFound = false;
                $.each(collectionFileObjs, function (indexCol, fileCol) {
                    if (file.name.toLowerCase() === fileCol.name.toLowerCase() &&
                        file.size === fileCol.size) {
                        bFound = true;  //Found - set indicator, return early...
                        return false;
                    }
                });

                if (!bFound) {
                    //Candidate not found - add to collection...
                    collectionFileObjs.push(file);

                    //Append to markup...
                    lstMarkup.append('<li class="list-group-item" data-file="' + file.name + '" >' +
                        '<span style="width: 30%; position: relative; float: left">' + file.name + '</span>' +

                        '<div class="progress" style="width: 40%; display: inline-block; vertical-align: -webkit-baseline-middle;">' +
                            '<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; display:inline-block;">' +
                                '0%' +
                            '</div>' +
                        '</div>' + 

                        '<div class="status" style="width: 20%; display: inline-block; ">Not started...</div>' +

                        '<button class="btn btn-warning delete" style=" width: 10%; position: relative; float: right;" data-file-name="' + file.name + '">Delete</button>' +

                        '</li>');
                }
            });

            //Set click handler for list item delete button(s)...
            var deleteButtons = $('#' + 'lstFilesForUpload li button.delete');

            deleteButtons.off('click', deleteListItem);
            deleteButtons.on('click', deleteListItem);
        }
    }

    //Scan input file names collection, add (names) to markup list...
    //ASSUMPTION: all referenced files are currently loaded on the server...
    function loadFileNames(collectionFileNames, lstMarkup) {
        if ('undefined' !== typeof collectionFileNames && null !== collectionFileNames &&
            'undefined' !== typeof lstMarkup && null !== lstMarkup) {

            //For each input file object...
            $.each(collectionFileNames, function (index, fileName) {
                //Append to markup...
                lstMarkup.append('<li class="list-group-item" data-file="' + fileName + '" >' +
                    '<span style="width: 30%; position: relative; float: left">' + fileName + '</span>' +

                    '<div class="progress" style="width: 40%; display: inline-block; vertical-align: -webkit-baseline-middle;">' +
                        '<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%; display:inline-block;">' +
                            '100%' +
                        '</div>' +
                    '</div>' +

                    '<div class="status" style="width: 20%; display: inline-block; ">Complete!!!</div>' +

                    '<button class="btn btn-warning delete" style=" width: 10%; position: relative; float: right;" data-file-name="' + fileName + '">Delete</button>' +

                    '</li>');
            });

            //Set click handler for list item delete button(s)...
            var deleteButtons = $('#' + 'lstFilesForUpload li button.delete');

            deleteButtons.off('click', deleteListItem);
            deleteButtons.on('click', deleteListItem);
        }
    }

    $(document).ready(function () {

        //Hide the upload file alert...
        $('#' + 'alertFileUpload').removeClass('hidden').hide();

        //Check session storage for existing items...
        if ('undefined' !== typeof sessionStorage.currentUploadId && null != sessionStorage.currentUploadId) {
            currentUploadId = sessionStorage.currentUploadId;   //Retrieve current upload Id...
        }

        if ('undefined' !== typeof sessionStorage.uploadedFileNames && null !== sessionStorage.uploadedFileNames) {
            var uploadedFileNames = sessionStorage.uploadedFileNames;
            loadFileNames(uploadedFileNames.split(','), $('#' + 'lstFilesForUpload'));  //Retrieve uploaded file names...

            //Assumption - uploaded file names exist because file(s) were previously uploaded - show validation summary button...
            $('#' + 'btnValidationSummary').removeClass('hidden');
        }

        //Initialization code for jQuery-File-Upload...
        var dropDiv = $('#' + 'divFilesForUpload');
        dropDiv.fileupload(
            {
                //Identifiers/operating values...
                "dataType": "json",
                "dropZone": dropDiv,
                "maxChunkSize": 10000,              //Relatively small value for testing purposes...
                //Upload-related...
                "autoUpload": false,
                "multipart": true,                  //Send uploads as multipart/form-data 
                "type": "POST",
                "url": "/api/revisedupload/post",
                "singleFileUploads": true,          //Upload each file in a separate XHR request
                //"sequentialUploads": true,        //Issue file upload requests in a sequential order
                "sequentialUploads": false,         //Issue file upload requests simultaneously
                "limitConcurrentUploads": 20,       //Limit the number of concurrent uploads      
                //Callbacks...
                "add": function(event, data) {
                    //File(s) added for upload - check event type...
                    if ('undefined' !== typeof event.originalEvent && null !== event.originalEvent) {
                        if ('add' === event.originalEvent.type.toLowerCase() && 
                            (!event.originalEvent.delegatedEvent)) {
                            //Event is a call to jquery-file-upload 'add' method (NOT a file 'drop' or 'browse')

                            //Submit current data to server...
                            data.submit();
                        }
                    }
                },
                "submit": function (event, data) {
                    //Include file names as 'form' data...
                    var fileNamesAndTypes = [];
                    if (0 < fileObjectsForUpload.length) {
                        //List entries exist - retrieve file names as 'form' data...
                        $.each(fileObjectsForUpload, function (index, file) {
                            fileNamesAndTypes.push({ "fileName": file.name,
                                                     "fileType": file.type
                                                   });
                        });
                    }

                    //Send current data to server (start the upload manually)...
                    data.formData = { "fileNamesAndTypes": JSON.stringify(fileNamesAndTypes),
                                      "currentUploadId": currentUploadId
                                    };

                    var dropDiv = $('#' + 'divFilesForUpload');
                    dropDiv.fileupload('send', data);

                    //Return false to stop the submit call from starting the upload....
                    return false;
                },
                ////File 'chunk' callbacks...
                //"chunkalways": function(event, data) {
                //    console.log('jquery-file-upload - chunkalways called!!');
                //    var n = 5;

                //    ++n;
                //},
                //"chunkdone": function(event, data) {
                //    console.log('jquery-file-upload - chunkdone called!!');
                //    var n = 5;

                //    ++n;
                //},
                "chunkfail": function(event, data) {
                    console.log('jquery-file-upload - chunkfail called!!');
                    var n = 5;

                    ++n;
                },
                //"chunksend": function(event, data) {
                //    console.log('jquery-file-upload - chunksend called!!');
                //    var n = 5;

                //    ++n;
                //},
                //File upload callbacks...
                "always": function (event, data) {
                    console.log('jquery-file-upload - always called!!');

                    //Check for final status ('completed' or 'error') on all list items...
                    var final = true;   //Assume all statuses are final
                    var listItems = '#' + 'lstFilesForUpload' + ' li';

                    $(listItems).each(function (index) {
                        var divStatus = $(this).children('div.status');
                        var statusText = divStatus.text().toLowerCase();

                        if ((-1 === statusText.indexOf('complete')) &&
                            (-1 === statusText.indexOf('error'))) {
                            final = false; 
                        }
                    });

                    if (final) {
                        //Final status for all list items - show Validation Summary button...
                        //NOTE: Controller may not yet be done with file processing - 
                        //      user must keep current page open until all controller processing is done 
                        var url = '/api/revisedupload/get/' + currentUploadId + '/';
                        var interval = setInterval(function () {
                            $.ajax({
                                "url": url,
                                "type": "GET",
                                "async": true,
                                "dataType": "json",
                                "cache": false, //So IE does not cache when calling the same URL - source: http://stackoverflow.com/questions/7846707/ie9-jquery-ajax-call-first-time-doing-well-second-time-not
                                "success": function (data, textStatus, jqXHR) {
                                    console.log('RevisedUpload GET success: "' + textStatus + '" (' + jqXHR.status.toString() + ')');
                                    if (200 === jqXHR.status || 206 === jqXHR.status) {
                                        //Controller file processing complete - fade out file upload alert...
                                        $('#' + 'alertFileUpload').fadeOut({
                                            "duration": 1000,
                                            "complete": function () {
                                                //Show Validation Summary button...
                                                $('#' + 'btnValidationSummary').removeClass('hidden');
                                                ////BC - TEST - Click button as soon as shown to test possible timing issue...
                                                //$('#' + 'btnValidationSummary')[0].click();
                                            }
                                        });
                                        clearInterval(interval);
                                    }
                                },
                                "error": function (xmlhttprequest, textStatus, message) {
                                    //Failure - Log messsage received from server...
                                    console.log('RevisedUpload GET reports error: ' + xmlhttprequest.status + ' (' + message + ')');
                                    clearInterval(interval);
                                }
                            });

                        }, 1000);
                    }
                },
                "done": function (event, data) {
                    console.log('jquery-file-upload - done called!!');
                    var n = 5;

                    ++n;
                },
                "fail": function (event, data) {
                    console.log('jquery-file-upload - fail called!!');

                    //Update status for associated list entry...
                    var fileName = data.files[0].name;
                    var listItem = '#' + 'lstFilesForUpload' + ' li[data-file="' + fileName + '"]';

                    var divBar = $(listItem + ' .bar');
                    var divPercent = $(listItem + ' .percent');
                    var divStatus = $(listItem + ' .status');

                    divBar.width('100%');
                    divPercent.html('0%');
                    divStatus.html('Error...');
                },
                //"send": function (event, data) {
                //    console.log('jquery-file-upload - send called!!');
                //    var n = 5;

                //    ++n;
                //},
                "progress": function (event, data) {
                    var fileName = data.files[0].name;
                    //var percentage = (parseInt((data.loaded / data.total) * 100, 10)).toLocaleString();  //Rounds to the nearest whole number...
                    var percentage = Math.round((data.loaded / data.total) * 100);                         //Rounds to the nearest whole number...

                    //console.log('jquery-file-upload - progress called for: ' + fileName + ' at ' + percentage.toString() + '% !!');

                    //Update list item...
                    var listItem = '#' + 'lstFilesForUpload' + ' li[data-file="' + fileName + '"]';

                    //var divBar = $(listItem + ' .bar');
                    //var divPercent = $(listItem + ' .percent');
                    var divStatus = $(listItem + ' .status');
                    var progressBar = $(listItem + ' .progress-bar');

                    //divBar.width(percentage + '%');
                    //divPercent.html(percentage + '%');
                    progressBar.width(percentage.toString() + '%');
                    progressBar.text(percentage.toString()  + '%');

                    var status = "Complete!!!";     //Assume completed...
                    if ( 100 > percentage) {
                        status = "in progress...";  //Not yet completed...
                    }
                    else {
                        //Upload complete - update session state variables...
                        var fileUploadCount = 0;
                        var uploadedFileNames = [];

                        //Retrieve/update file upload count
                        if ('undefined' !== typeof sessionStorage.fileUploadCount && null !== sessionStorage.fileUploadCount) {
                            fileUploadCount = parseInt(sessionStorage.fileUploadCount);
                        }
                        sessionStorage.fileUploadCount = (++fileUploadCount).toString();

                        //Retrieve/update file names array.. 
                        if ('undefined' !== typeof sessionStorage.uploadedFileNames && null !== sessionStorage.uploadedFileNames) {
                            uploadedFileNames = (sessionStorage.uploadedFileNames).split(',');
                        }

                        //Store unique file names only (in case of chunking)
                        if (-1 == uploadedFileNames.indexOf(fileName)) {
                            uploadedFileNames.push(fileName);
                            sessionStorage.uploadedFileNames = uploadedFileNames.toString();
                        }
                    }

                    divStatus.html(status);
                },
                "drop": function (event, data) {
                    //console.log('Dropped files:');
                    //Add dropped files...
                    addFileObjects(data.files, fileObjectsForUpload, $('#' + 'lstFilesForUpload'));
                }
            });

        //'Change' handler for multiple file input...
        $('#' + 'inpFilesForUpload').on('change', function (event) {
            //Check for file selections...
            var files = this.files;
            addFileObjects(files, fileObjectsForUpload, $('#' + 'lstFilesForUpload'));
        });

        //'Click' handler for Files for Upload, Continue 
        $('#' + 'btnFilesForUploadContinue').on('click', function (event) {
            //Retrieve list of files for upload
            if (0 < fileObjectsForUpload.length) {
                //List entries exist - generate upload Id, if indicated...
                if (null == currentUploadId) {
                    currentUploadId = randomId.generateId();
                }

                //Retain in session storage...
                sessionStorage.currentUploadId = currentUploadId;                           //current upload Id

                //Invoke jQuery File Uploader 'add' method...
                var dropDiv = $('#' + 'divFilesForUpload');
                dropDiv.fileupload('add', { "files": fileObjectsForUpload });

                //Disable button...
                $('#' + 'btnFilesForUploadContinue').addClass('disabled');

                //Display 'file upload' alert...
                //Source: http://www.java2s.com/Tutorials/HTML_CSS/Bootstrap_Example/Alert/Show_alert_block_with_fade_in.htm
                $('#' + 'alertFileUpload').fadeIn({"duration": 500});
            }
        });

        //'Click' handler for Cancel 'anchor' 
        $('a.cancel').on('click', function(event) {
            //Clear session storage items...
            sessionStorage.removeItem('currentUploadId');
            sessionStorage.removeItem('uploadedFileNames');
            sessionStorage.removeItem('fileUploadCount');
        });

        //Create Random Id instance...
        randomId = new RandomId({
            'iterationCount': 10,
            'characterSets': ['alpha', 'numeric']
        });
       
    });

</script>