
@{
    ViewBag.Title = "RejectedItems";
}

<h2>RejectedItems</h2>

@section styles {
    @Styles.Render("~/Content/css/DataTablesEditorCombo")    
}



@section Scripts {
    @Scripts.Render("~/bundles/js/DataTablesEditorCombo")
}