@model HydroServerTools.Models.ConnectionModel
@{
    ViewBag.Title = "VerticalTab";
}
@section styles{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <link href="~/Content/DataTables-1.9.4/media/css/demo_table.css" rel="stylesheet" />

}


<div  id="tabs">
    <ul>
           <li>
            <a href="#b">Load Sites</a>
        </li>
        <li>
            <a href="#c">Load Variables</a>
        </li>
        <li>
            <a href="#d">Load OffsetTypes</a>
        </li>
        <li>
            <a href="#e">Load ISOMetadata</a>
        </li>
        <li>
            <a href="#f">Load Sources</a>
        </li>
        <li>
            <a href="#g">Load Methods</a>
        </li>
        <li>
            <a href="#h">Load LabMethods</a>
        </li>
        <li>
            <a href="#i">Load Samples</a>
        </li>
        <li>
            <a href="#j">Load QualityControlLevels</a>
        </li>
        <li>
            <a href="#k">Load DataValues</a>
        </li>
        <li>
            <a href="#l">Load GroupDescriptions</a>
        </li>
        <li>
            <a href="#m">Load Groups</a>
        </li>
        <li>
            <a href="#n">Load DerivedFrom</a>
        </li>
        <li>
            <a href="#o">Load Categories</a>
        </li>

    </ul>
   
    <div id="b">
        @using (Html.BeginForm("Import", "CSVUpload", FormMethod.Post, new {id ="sites", enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="sites" value="sites" />                
        <input type="file" name="file" />
        <input type="submit" value="OK" />
    }
    <div class="">
         <span class="input-group-btn" style="display:inline">
            <span>
                Browse&hellip; <input class="btn btn-primary btn-file" type="file">
            </span>
            <input type="text" class="form-control" readonly>
        </span>
        <input type="submit" value="OK" />

    </div>



    </div>



    <div id="c">
        <div class="">
            <h4>Input Variables</h4>
            <div class="input-group">
                @using (Html.BeginForm("Import", "CSVUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input size="500" type="text" class="form-control" readonly>
                    <input type="hidden" id="sites" value="sites" />
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type="file" multiple>
                    </span>

                    <span><input class="btn btn-default" type="submit" value="Submit" /></span>

                }

            </div>
            <span class="help-block">
                Try selecting one or more files and watch the feedback
            </span>

        </div>

    </div>
    <div id="d">
        Content of D
    </div>
    <div id="e">
        Content of e
    </div>
    <div id="f">
        Content of f
    </div>
    <div id="g">
        Content of g
    </div>
    <div id="h">
        Content of h
        <div id="i">
            Content of i
        </div>
        <div id="j">
            Content of j
        </div>
        <div id="k">
            Content of k
        </div>
        <div id="l">
            Content of l
        </div>
        <div id="m">
            Content of m
        </div>
        <div id="n">
            Content of n
        </div>
        <div id="o">
            Content of o
        </div>

    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/DataTables-1.9.4/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/UploadHelper.js"></script>
    <script>


    </script>

}
