@{
    ViewBag.Title = "Upload";
    //Layout = null;
}

@*<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">*@
<link rel="stylesheet" href="~/Content/mvcfileupload/blueimp/jquery.fileupload.css" />
@*<link rel="stylesheet" href="/Content/mvcfileupload/blueimp/jquery.fileupload-ui.css">*@


<script src="~/Scripts/mvcfileupload/vendor/jquery.ui.widget.js"></script>


@Html.Action("_Breadcrumb", "CSVUpload", new { id = ViewBag.Name })
<div class="container">
    <form id="uploadForm" action="/api/upload" method="POST" enctype="multipart/form-data">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Currently importing: @ViewBag.Name</h3>
            </div>
            <div class="panel-body h4">
                <i class="icon-plus"></i><p>Please select or drag-in your file</p>
                @*<input type="file" id="fileupload" name="fileupload" accept=".csv,.zip" >*@
                <p>
                    <span class="btn btn-success fileinput-button active">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add file...</span>
                        <input type="file" id="fileupload" class="required" name=" fileupload" accept=".csv,.zip">
                    </span>
                    @*<button id="btnUploadAll" class="btn btn-success pull-right"  type="button">
                         Upload All
                        </button>*@
                    <button type="button" id="startupload" class="btn btn-primary start active disabled">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>
                    <button type="reset" id="reset" class="btn btn-warning cancel active disabled">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel</span>
                    </button>
                    <div class="clearfix">
                    </div>
                    <p>
                        <div class="well-sm hide h4" id="filelistholder">

                            @*<div id="progressbar"></div>*@
                        </div>
                    </p>
                    <div class="well-sm alert-info hide" id="loading">
                        <div id="monitor">Uploading...
                            @*<img src="~/Images/ajax-loader.gif" />*@
                        </div>
                    </div>
                    @*<div class="progress">
                         <div class="bar" id="overallbar" style="width: 0%">
                         </div>
                        </div>*@
               
                </p>
            </div>

        </div>
    </form>
   
</div>

  
@Html.Action("_Pager", "CSVUpload", new { name = ViewBag.Name })
@*<script src="~/Scripts/JQueryUpload/jquery.fileupload.js"></script>
    <script src="~/Scripts/JQueryUpload/jquery.iframe-transport.js"></script>*@
<script src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload.js"></script>
<script src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload-ui.js"></script>
<script src="~/Scripts/mvcfileupload/blueimp/jquery.iframe-transport.js"></script>
@*<script src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload-process.js"></script>
    <script src="~/Scripts/mvcfileupload/blueimp/jquery.fileupload-validate.js"></script>*@
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/additional-methods.min.js"></script>*@
<script src="~/Scripts/custom/UploadHelper.js"></script>





