#
# A simple file listing curl file upload options
#
# Set API endpoint for request... 
--url https://bcc-hydroservertools.azurewebsites.net/api/bulkupload/post
#
# Set custom headers for request...
--header X-Api-BulkUpload-NetworkApiKey:<<<Network API Key Goes Here>>> 
--header X-Api-BulkUpload-ValidationQualifier:bulk-upload
#
# Set metadata --OR-- data values file path and name for request...
--form "files=<<<Full Path and Name of *.CSV File Goes Here>>>;filename=<<<Name of *.CSV File Goes Here>>>"
#
# Show progress bar during file upload
--progress-bar
#
# Write out response status, uploaded bytes and upload time to stdout...
--write-out "\n\n\rUploaded: %{size_upload} bytes in %{time_total} seconds to url: %{url_effective}\n\r\tFor more information, please see: %{filename_effective}\n\n\r"
#
# Write response to HTML log file... 
--create-dirs 
--output "<<<Full Path and Name of *.HTML Log File Goes Here>>>"
#
# Miscellaneous commands
#
# Suppress search for default config file...
-q
